.home-post-brief {
    position: relative;
    box-shadow: 0px 4px 8px #151515;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 110px;
    overflow-y: hidden;
    background-color: white;
    transition: height 1s;
}

.home-post-brief h3 {
    display: inline-block;
    margin-bottom: 0;
}

.home-post-brief h3:hover {
    cursor: pointer;
}

.home-post-brief a {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.home-post-brief .creator {
    margin-bottom: 0;
    font-size: .9rem;
}

.home-post-brief .description {
    width: calc(100% - 50px);
}
