.my-post-brief {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
    max-height: 100px;
    min-height: 100px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, .35);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
    transition: max-height 1s;
    background-color: white;
}

.my-post-brief.expanded {
    /* as long as max-height is larger than height of brief ele, height will transition to auto height */
    max-height: 50vh;
}

.my-post-description {
    margin-bottom: 0;
}

.my-post-details {
    width: calc(100% - 220px);
    font-size: 1.2rem;
}

.my-post-options {
    position: relative;
}

.my-post-options button {
    margin-left: 5px;
}

.my-post-options a {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 500px) {
    .my-post-description {
        display: none;
    }

    .my-post-options a {
        display: none;
    }
}