.hero {
    height: 20vh;
    padding-top: 5vh;
}

.hero .text-wrapper {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.hero .text-wrapper h1 {
    font-size: 5rem;
    line-height: 50px;
}

.hero .text-wrapper h3 {
    font-size: 1.5rem;
}

.home-blog-posts {
    width: 95%;
    max-width: 900px;
    margin: 20px auto;
}

.home-posts-pages-btns {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.home-search-bar {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: flex-end;
}

.home-search-bar form {
    display: flex;
}

.home-search-bar form button {
    margin-left: 5px;
}

.loading-display {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.loading-display.hide {
    display: none;
}

.loading-display i {
    animation: spin 2s linear infinite;
    height: 44px;
}

@media screen and (max-width: 950px) {
    .hero {
        padding-top: 0vh;
    }

    @media (max-height: 800px) {

    }
}

@media screen and (max-width: 650px) {
    .hero .text-wrapper h1 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 500px) {
    .loading-display {
        font-size: 2rem;
    }

    .loading-display i {
        height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .hero .text-wrapper h1 {
        font-size: 4rem;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}