.profile-container {
    width: 30%;
    background-color: #dedede;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, .15);
    padding: 8px;
    border-radius: 5px;
}

.profile-container h2 {
    text-align: center;
}

.profile-info-group .info {
    font-size: 1.2rem;
}

.profile-info-group .info-heading {
    margin: 0;
    font-size: 1.1rem;
}

@media screen and (max-width: 1200px) {
    .profile-container {
        width: 100%;
    }

    .profile-flex-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-info-group {
        width: 100%;
    }

    .profile-info-group.name, .profile-info-group.email {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .profile-info-group.name, .profile-info-group.email {
        width: 100%;
    }
}