.profile-container {
    width: 30%;
    background-color: #f9f9f9;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, .15);
    padding: 8px;
    border-radius: 5px;
}

.profile-container h2 {
    text-align: center;
}

.profile-info-group .info {
    font-size: 1.2rem;
}

.profile-info-group .info-heading {
    margin: 0;
    font-size: 1.1rem;
}