.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
}

.content-header-shift {
    margin-top: 70px;
}

.content-responsive {
    width: min(1200px, 90%);
    margin: 0 auto;
}